.sidebar{
	min-width: var(--sidebar-width);
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background-color: goldenrod;
	box-shadow: var(--box-shadow);
}
.sidebar_logo{
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sidebar_logo > img {
   height: 130px;

}

.sidebar_items{
	padding: 0 20px;
}

.sidebar_items-inner{
	padding: 15px 25px;
	display: flex;
	align-items: center;
	font-weight: 600;
	transition: color .3s ease 0s;
}

.sidebar_items-inner > i {
	margin-right: 10px;
	font-size: 1.5rem;

}

.sidebar_items-inner >span{
	text-transform: capitalize;
}

.sidebar_items :hover{
	color: red;
}

.sidebar_items-inner.active{
	border-radius: var(--border-radius);
	background-image: linear-gradient(
		to right,
		var(--main-color)
		var(--second-color)

	);
	color: var(--txt-white);
}