.vl-promotion {
    border-left: 2px solid gainsboro;
    margin-left: 80px;
    margin-bottom: 5%;
}
.vl-advertisement {
    border-left: 2px solid gainsboro;
    margin-left: 65px;
    margin-bottom: 5%;
}

